@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body, 
#root,
.app, 
.content { 
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.app {
  display: flex;
  position: relative;
  justify-content: center; /* This will center children on the horizontal axis */
  flex-direction: row; /* Ensure the children (Sidebar and Content) are in a row */
  height: 100vh;
}

::-webkit-scrollbar{
  width: 6px;
}

/*Track*/
::-webkit-scrollbar-track{
  background: #e0e0e0;
}

.sidebar {
  position: relative;
  height: 180%;  /* Make sidebar take up the full viewport height */
}

/*Handle*/
::-webkit-scrollbar-thumb{
  background: #888;
}

/*Handle on Hover*/
::-webkit-scrollbar-track:hover{
  background: #555;
}

.footer {
  margin-top: auto; /* Push Footer to the bottom */
}

.contentContainer {
  flex-grow: 1; /* Ensure the content container takes up the remaining space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}
